<a href="https://colab.research.google.com/github/PatelHarshit/2303a51159-27-PDS/blob/main/lab5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

# Step 1: Create Customers dataset
customers = {
    "customer_id": [1, 2, 3, 4, 5],
    "name": ["Alice", "Bob", "Charlie", "David", "Eva"],
    "city": ["Delhi", "Mumbai", "Delhi", "Chennai", "Mumbai"]
}
df_customers = pd.DataFrame(customers)

print("ğŸ”¹ Customers Dataset:")
print(df_customers)

# Step 2: Create Transactions dataset
transactions = {
    "transaction_id": [101, 102, 103, 104, 105, 106, 107, 108],
    "customer_id": [1, 2, 1, 3, 4, 5, 2, 3],
    "amount": [500, 700, 200, 1200, 1500, 800, 300, 1000]
}
df_transactions = pd.DataFrame(transactions)

print("\nğŸ”¹ Transactions Dataset:")
print(df_transactions)

# Step 3: Merge datasets using customer_id
df_merged = pd.merge(df_transactions, df_customers, on="customer_id", how="inner")

print("\nâœ… Merged Dataset:")
print(df_merged)

# Step 4: Calculate total spend per customer
customer_spend = df_merged.groupby(["customer_id", "name"])["amount"].sum().reset_index()
customer_spend.rename(columns={"amount": "total_spend"}, inplace=True)

print("\nğŸ’° Total Spend per Customer:")
print(customer_spend)

# Step 5: Group by city to analyze spending
city_spend = df_merged.groupby("city")["amount"].sum().reset_index()
city_spend.rename(columns={"amount": "city_total_spend"}, inplace=True)

print("\nğŸ™ï¸ City-wise Spending:")
print(city_spend)

# Step 6: Identify top spender
top_spender = customer_spend.loc[customer_spend["total_spend"].idxmax()]

print("\nğŸ‘‘ Top Spender:")
print(top_spender)

ğŸ”¹ Customers Dataset:
   customer_id     name     city
0            1    Alice    Delhi
1            2      Bob   Mumbai
2            3  Charlie    Delhi
3            4    David  Chennai
4            5      Eva   Mumbai

ğŸ”¹ Transactions Dataset:
   transaction_id  customer_id  amount
0             101            1     500
1             102            2     700
2             103            1     200
3             104            3    1200
4             105            4    1500
5             106            5     800
6             107            2     300
7             108            3    1000

âœ… Merged Dataset:
   transaction_id  customer_id  amount     name     city
0             101            1     500    Alice    Delhi
1             102            2     700      Bob   Mumbai
2             103            1     200    Alice    Delhi
3             104            3    1200  Charlie    Delhi
4             105            4    1500    David  Chennai
5             106            5     800      Eva   Mumbai
6             107            2     300      Bob   Mumbai
7             108            3    1000  Charlie    Delhi

ğŸ’° Total Spend per Customer:
   customer_id     name  total_spend
0            1    Alice          700
1            2      Bob         1000
2            3  Charlie         2200
3            4    David         1500
4            5      Eva          800

ğŸ™ï¸ City-wise Spending:
      city  city_total_spend
0  Chennai              1500
1    Delhi              2900
2   Mumbai              1800

ğŸ‘‘ Top Spender:
customer_id          3
name           Charlie
total_spend       2200
Name: 2, dtype: object

In [2]:
import pandas as pd

# Step 1: Create Patients dataset
patients = {
    "patient_id": [1, 2, 3, 4, 5],
    "name": ["Ravi", "Anita", "Kiran", "Meena", "Arjun"],
    "age": [34, 45, 29, 60, 52]
}
df_patients = pd.DataFrame(patients)

print("ğŸ”¹ Patients Dataset:")
print(df_patients)

# Step 2: Create Appointments dataset
appointments = {
    "appointment_id": [101, 102, 103, 104, 105, 106, 107, 108, 109],
    "patient_id": [1, 2, 1, 3, 4, 2, 5, 3, 1],
    "doctor": ["Dr. Sharma", "Dr. Gupta", "Dr. Sharma", "Dr. Iyer",
               "Dr. Gupta", "Dr. Sharma", "Dr. Iyer", "Dr. Gupta", "Dr. Sharma"],
    "date": ["2025-09-01", "2025-09-02", "2025-09-05", "2025-09-06",
             "2025-09-07", "2025-09-08", "2025-09-09", "2025-09-10", "2025-09-12"]
}
df_appointments = pd.DataFrame(appointments)

print("\nğŸ”¹ Appointments Dataset:")
print(df_appointments)

# Step 3: Merge datasets using patient_id
df_merged = pd.merge(df_appointments, df_patients, on="patient_id", how="inner")

print("\nâœ… Merged Dataset:")
print(df_merged)

# Step 4: Count appointments per patient
patient_visits = df_merged.groupby(["patient_id", "name"])["appointment_id"].count().reset_index()
patient_visits.rename(columns={"appointment_id": "total_visits"}, inplace=True)

print("\nğŸ‘©â€âš•ï¸ Appointments per Patient:")
print(patient_visits)

# Step 5: Group by doctor to compute workload
doctor_workload = df_merged.groupby("doctor")["appointment_id"].count().reset_index()
doctor_workload.rename(columns={"appointment_id": "total_appointments"}, inplace=True)

print("\nğŸ©º Doctor Workload:")
print(doctor_workload)

# Step 6: Find patient with maximum visits
top_patient = patient_visits.loc[patient_visits["total_visits"].idxmax()]

print("\nğŸ‘‘ Patient with Maximum Visits:")
print(top_patient)

ğŸ”¹ Patients Dataset:
   patient_id   name  age
0           1   Ravi   34
1           2  Anita   45
2           3  Kiran   29
3           4  Meena   60
4           5  Arjun   52

ğŸ”¹ Appointments Dataset:
   appointment_id  patient_id      doctor        date
0             101           1  Dr. Sharma  2025-09-01
1             102           2   Dr. Gupta  2025-09-02
2             103           1  Dr. Sharma  2025-09-05
3             104           3    Dr. Iyer  2025-09-06
4             105           4   Dr. Gupta  2025-09-07
5             106           2  Dr. Sharma  2025-09-08
6             107           5    Dr. Iyer  2025-09-09
7             108           3   Dr. Gupta  2025-09-10
8             109           1  Dr. Sharma  2025-09-12

âœ… Merged Dataset:
   appointment_id  patient_id      doctor        date   name  age
0             101           1  Dr. Sharma  2025-09-01   Ravi   34
1             102           2   Dr. Gupta  2025-09-02  Anita   45
2             103           1  Dr. Sharma  2025-09-05   Ravi   34
3             104           3    Dr. Iyer  2025-09-06  Kiran   29
4             105           4   Dr. Gupta  2025-09-07  Meena   60
5             106           2  Dr. Sharma  2025-09-08  Anita   45
6             107           5    Dr. Iyer  2025-09-09  Arjun   52
7             108           3   Dr. Gupta  2025-09-10  Kiran   29
8             109           1  Dr. Sharma  2025-09-12   Ravi   34

ğŸ‘©â€âš•ï¸ Appointments per Patient:
   patient_id   name  total_visits
0           1   Ravi             3
1           2  Anita             2
2           3  Kiran             2
3           4  Meena             1
4           5  Arjun             1

ğŸ©º Doctor Workload:
       doctor  total_appointments
0   Dr. Gupta                   3
1    Dr. Iyer                   2
2  Dr. Sharma                   4

ğŸ‘‘ Patient with Maximum Visits:
patient_id         1
name            Ravi
total_visits       3
Name: 0, dtype: object